# Intro to NLP for AI | 03 - Identifying Parts of Speech and Named Entities

## Parts of Speech (POS) Tagging

Parts of Speech (POS) tagging is a fundamental task in NLP, where each word in a sentence is assigned a grammatical category such as noun, verb, adjective or adverb. This process help machines to understand the structure and meaning of sentences by identifying the roles of words and their relationships. It plays an important role in various NLP applications including machine translation, sentiment analysis and information retrieval, by bridging the gap between human language and machine understanding.

In [1]:
import numpy as np
import pandas as pd
import spacy

In [5]:
nlp = spacy.load("en_core_web_sm")
# if you are running this for the first time, or recieve an error "Can't find model 'en_core_web_sm'", 
# then please run the follwing in your terminal: python -m spacy download en_core_web_sm

In [6]:
emma_ja = "emma woodhouse handsome clever and rich with a comfortable home and happy disposition seemed to unite some of the best blessings of existence and had lived nearly twentyone years in the world with very little to distress or vex her she was the youngest of the two daughters of a most affectionate indulgent father and had in consequence of her sisters marriage been mistress of his house from a very early period her mother had died too long ago for her to have more than an indistinct remembrance of her caresses and her place had been supplied by an excellent woman as governess who had fallen little short of a mother in affection sixteen years had miss taylor been in mr woodhouses family less as a governess than a friend very fond of both daughters but particularly of emma between them it was more the intimacy of sisters even before miss taylor had ceased to hold the nominal office of governess the mildness of her temper had hardly allowed her to impose any restraint and the shadow of authority being now long passed away they had been living together as friend and friend very mutually attached and emma doing just what she liked highly esteeming miss taylors judgment but directed chiefly by her own"
print(emma_ja)

emma woodhouse handsome clever and rich with a comfortable home and happy disposition seemed to unite some of the best blessings of existence and had lived nearly twentyone years in the world with very little to distress or vex her she was the youngest of the two daughters of a most affectionate indulgent father and had in consequence of her sisters marriage been mistress of his house from a very early period her mother had died too long ago for her to have more than an indistinct remembrance of her caresses and her place had been supplied by an excellent woman as governess who had fallen little short of a mother in affection sixteen years had miss taylor been in mr woodhouses family less as a governess than a friend very fond of both daughters but particularly of emma between them it was more the intimacy of sisters even before miss taylor had ceased to hold the nominal office of governess the mildness of her temper had hardly allowed her to impose any restraint and the shadow of authority being now long passed away they had been living together as friend and friend very mutually attached and emma doing just what she liked highly esteeming miss taylors judgment but directed chiefly by her own

In [7]:
spacy_doc = nlp(emma_ja)

In [8]:
spacy_doc

emma woodhouse handsome clever and rich with a comfortable home and happy disposition seemed to unite some of the best blessings of existence and had lived nearly twentyone years in the world with very little to distress or vex her she was the youngest of the two daughters of a most affectionate indulgent father and had in consequence of her sisters marriage been mistress of his house from a very early period her mother had died too long ago for her to have more than an indistinct remembrance of her caresses and her place had been supplied by an excellent woman as governess who had fallen little short of a mother in affection sixteen years had miss taylor been in mr woodhouses family less as a governess than a friend very fond of both daughters but particularly of emma between them it was more the intimacy of sisters even before miss taylor had ceased to hold the nominal office of governess the mildness of her temper had hardly allowed her to impose any restraint and the shadow of authority being now long passed away they had been living together as friend and friend very mutually attached and emma doing just what she liked highly esteeming miss taylors judgment but directed chiefly by her own

In [9]:
pos_df = pd.DataFrame(columns=['token', 'pos_tag'])

In [11]:
for token in spacy_doc:
    # print(token)
    pos_df = pd.concat([pos_df, pd.DataFrame.from_records([{'token': token.text, 'pos_tag': token.pos_}])], ignore_index=True)

In [13]:
pos_df.head(20)

          token pos_tag
0          emma   PROPN
1     woodhouse   PROPN
2      handsome     ADJ
3        clever     ADJ
4           and   CCONJ
5          rich     ADJ
6          with     ADP
7             a     DET
8   comfortable     ADJ
9          home    NOUN
10          and   CCONJ
11        happy     ADJ
12  disposition    NOUN
13       seemed    VERB
14           to    PART
15        unite    VERB
16         some    PRON
17           of     ADP
18          the     DET
19         best     ADJ

In [18]:
pos_df_counts = pos_df.groupby(['token', 'pos_tag']).size().reset_index(name='counts').sort_values(by='counts', ascending=False)

In [19]:
pos_df_counts

          token pos_tag  counts
88           of     ADP      14
54          her    PRON       9
49          had     AUX       9
6           and   CCONJ       8
111         the     DET       8
..          ...     ...     ...
124         who    PRON       1
127   woodhouse   PROPN       1
128  woodhouses   PROPN       1
129       world    NOUN       1
131    youngest     ADJ       1

[132 rows x 3 columns]

In [20]:
pos_df_poscounts = pos_df_counts.groupby(['pos_tag'])['token'].count().sort_values(ascending=False)

In [22]:
pos_df_poscounts.head(15)

pos_tag
NOUN     35
VERB     19
ADJ      18
ADV      18
PRON      9
ADP       8
PROPN     6
DET       5
AUX       4
CCONJ     3
NUM       3
SCONJ     3
PART      1
Name: token, dtype: int64

In [23]:
nouns = pos_df_counts[pos_df_counts.pos_tag == 'NOUN'][:10]
nouns

         token pos_tag  counts
48   governess    NOUN       3
46      friend    NOUN       3
130      years    NOUN       2
28   daughters    NOUN       2
35        emma    NOUN       2
82      mother    NOUN       2
103    sisters    NOUN       2
1    affection    NOUN       1
11   authority    NOUN       1
32    distress    NOUN       1

In [25]:
adjectives = pos_df_counts[pos_df_counts.pos_tag == 'ADJ'][:10]
adjectives

           token pos_tag  counts
70        little     ADJ       2
2   affectionate     ADJ       1
34         early     ADJ       1
44          fond     ADJ       1
39     excellent     ADJ       1
51         happy     ADJ       1
16          best     ADJ       1
25        clever     ADJ       1
26   comfortable     ADJ       1
63     indulgent     ADJ       1

In [26]:
verbs = pos_df_counts[pos_df_counts.pos_tag == 'VERB'][:10]
verbs

        token pos_tag  counts
33      doing    VERB       1
29       died    VERB       1
37  esteeming    VERB       1
41     fallen    VERB       1
23     ceased    VERB       1
30   directed    VERB       1
10   attached    VERB       1
4     allowed    VERB       1
60     impose    VERB       1
57       hold    VERB       1

In [27]:
adverbs = pos_df_counts[pos_df_counts.pos_tag == 'ADV'][:10]
adverbs

        token pos_tag  counts
120      very     ADV       4
73       long     ADV       2
3         ago     ADV       1
12       away     ADV       1
38       even     ADV       1
24    chiefly     ADV       1
67       just     ADV       1
55     highly     ADV       1
52     hardly     ADV       1
84   mutually     ADV       1

## Named Entity Recognition (NER)

Named Entity Recognition is a key task in NLP that focuses on identifying and classifying important information (entities) from text. These entities include names of people, organizations, locations, dates, quantities and more. NER helps convert unstructured text structured data, making it useful for search engines, chatbots, analytics and decision-making systems.

In [28]:
from spacy import displacy, tokenizer
from IPython.display import HTML, display
import re

In [29]:
nlp = spacy.load("en_core_web_sm")

In [30]:
google_text = "Google was founded on September 4, 1998, by computer scientists Larry Page and Sergey Brin while they were PhD students at Stanford University in California. Together they own about 14% of its publicly listed shares and control 56% of its stockholder voting power through super-voting stock. The company went public via an initial public offering (IPO) in 2004. In 2015, Google was reorganized as a wholly owned subsidiary of Alphabet Inc. Google is Alphabet's largest subsidiary and is a holding company for Alphabet's internet properties and interests. Sundar Pichai was appointed CEO of Google on October 24, 2015, replacing Larry Page, who became the CEO of Alphabet. On December 3, 2019, Pichai also became the CEO of Alphabet."
print(google_text)

Google was founded on September 4, 1998, by computer scientists Larry Page and Sergey Brin while they were PhD students at Stanford University in California. Together they own about 14% of its publicly listed shares and control 56% of its stockholder voting power through super-voting stock. The company went public via an initial public offering (IPO) in 2004. In 2015, Google was reorganized as a wholly owned subsidiary of Alphabet Inc. Google is Alphabet's largest subsidiary and is a holding company for Alphabet's internet properties and interests. Sundar Pichai was appointed CEO of Google on October 24, 2015, replacing Larry Page, who became the CEO of Alphabet. On December 3, 2019, Pichai also became the CEO of Alphabet.

In [31]:
spacy_doc = nlp(google_text)

In [35]:
for word in spacy_doc.ents:
    print(word.text, "|", word.label, "|", word.label_)

Google | 383 | ORG
September 4, 1998 | 391 | DATE
Larry Page | 380 | PERSON
Sergey Brin | 380 | PERSON
PhD | 388 | WORK_OF_ART
Stanford University | 383 | ORG
California | 384 | GPE
about 14% | 393 | PERCENT
56% | 393 | PERCENT
IPO | 383 | ORG
2004 | 391 | DATE
2015 | 391 | DATE
Google | 383 | ORG
Alphabet Inc. | 383 | ORG
Alphabet | 383 | ORG
Alphabet | 383 | ORG
Sundar Pichai | 380 | PERSON
Google | 383 | ORG
October 24, 2015 | 391 | DATE
Larry Page | 380 | PERSON
Alphabet | 384 | GPE
December 3, 2019 | 391 | DATE
Pichai | 380 | PERSON
Alphabet | 384 | GPE

In [36]:
html = displacy.render(spacy_doc, style="ent", jupyter=False)
display(HTML(html))

In [37]:
google_text_clean = re.sub(r"[^\w\s]", "", google_text).lower()
print(google_text_clean)

google was founded on september 4 1998 by computer scientists larry page and sergey brin while they were phd students at stanford university in california together they own about 14 of its publicly listed shares and control 56 of its stockholder voting power through supervoting stock the company went public via an initial public offering ipo in 2004 in 2015 google was reorganized as a wholly owned subsidiary of alphabet inc google is alphabets largest subsidiary and is a holding company for alphabets internet properties and interests sundar pichai was appointed ceo of google on october 24 2015 replacing larry page who became the ceo of alphabet on december 3 2019 pichai also became the ceo of alphabet

In [38]:
spacy_doc_clean = nlp(google_text_clean)

In [39]:
for word in spacy_doc_clean.ents:
    print(word.text, "|", word.label, "|", word.label_)

google | 383 | ORG
september 4 1998 | 391 | DATE
stanford university | 383 | ORG
california | 384 | GPE
about 14 | 397 | CARDINAL
56 | 397 | CARDINAL
2004 | 391 | DATE
2015 | 391 | DATE
alphabet inc google | 383 | ORG
google | 383 | ORG
october 24 2015 | 391 | DATE
larry | 380 | PERSON
december 3 2019 | 391 | DATE

In [40]:
html = displacy.render(spacy_doc_clean, style="ent", jupyter=False)
display(HTML(html))