# Intro to NLP for AI | 03 - Identifying Parts of Speech and Named Entities | Practical Example

In [2]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import spacy
import re
import pandas as pd
import matplotlib.pyplot as plt

### Load Data

In [3]:
bbc = pd.read_csv('bbc_news.csv')

In [5]:
bbc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1000 non-null   int64
 1   index        1000 non-null   int64
 2   title        1000 non-null   object
 3   pubDate      1000 non-null   object
 4   guid         1000 non-null   object
 5   link         1000 non-null   object
 6   description  1000 non-null   object
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

In [6]:
bbc.head()

,Unnamed: 0,index,title,pubDate,guid,link,description
0,0,6684,Can I refuse to work?,"Wed, 10 Aug 2022 15:46:18 GMT",https://www.bbc.co.uk/news/business-62147992,https://www.bbc.co.uk/news/business-62147992?a...,With much of the UK enduring another period of...
1,1,9267,'Liz Truss the Brief?' World reacts to UK poli...,"Mon, 17 Oct 2022 11:35:12 GMT",https://www.bbc.co.uk/news/world-63285480,https://www.bbc.co.uk/news/world-63285480?at_m...,The UK's political chaos has been watched arou...
2,2,7387,Rationing energy is nothing new for off-grid c...,"Wed, 31 Aug 2022 05:20:18 GMT",https://www.bbc.co.uk/news/uk-scotland-highlan...,https://www.bbc.co.uk/news/uk-scotland-highlan...,Scoraig in the north west Highlands has long h...
3,3,767,The hunt for superyachts of sanctioned Russian...,"Tue, 22 Mar 2022 14:37:01 GMT",https://www.bbc.co.uk/news/60739336,https://www.bbc.co.uk/news/60739336?at_medium=...,"Wealthy Russians sanctioned by the US, EU and ..."
4,4,3712,Platinum Jubilee: 70 years of the Queen in 70 ...,"Wed, 01 Jun 2022 23:17:33 GMT",https://www.bbc.co.uk/news/uk-61660128,https://www.bbc.co.uk/news/uk-61660128?at_medi...,A quick look back at the Queen's 70 years on t...

In [9]:
bbc.loc[0]

Unnamed: 0                                                     0
index                                                       6684
title                                      Can I refuse to work?
pubDate                            Wed, 10 Aug 2022 15:46:18 GMT
guid                https://www.bbc.co.uk/news/business-62147992
link           https://www.bbc.co.uk/news/business-62147992?a...
description    With much of the UK enduring another period of...
Name: 0, dtype: object

In [10]:
titles = pd.DataFrame(bbc['title'])

In [11]:
titles

                                                 title
0                                Can I refuse to work?
1    'Liz Truss the Brief?' World reacts to UK poli...
2    Rationing energy is nothing new for off-grid c...
3    The hunt for superyachts of sanctioned Russian...
4    Platinum Jubilee: 70 years of the Queen in 70 ...
..                                                 ...
995  Dominic Raab: Third senior civil servant gives...
996                Highlights: Radacanu beats Uytvanck
997    In pictures: Mountain bikers descend snowy peak
998  Companies must help cut living costs, says new...
999     Beware online car sale scams, consumers warned

[1000 rows x 1 columns]

### Clean Title Data

In [13]:
# LOWERCASE
titles['lowercase'] = titles['title'].str.lower()
titles.head()

,title,lowercase
0,Can I refuse to work?,can i refuse to work?
1,'Liz Truss the Brief?' World reacts to UK poli...,'liz truss the brief?' world reacts to uk poli...
2,Rationing energy is nothing new for off-grid c...,rationing energy is nothing new for off-grid c...
3,The hunt for superyachts of sanctioned Russian...,the hunt for superyachts of sanctioned russian...
4,Platinum Jubilee: 70 years of the Queen in 70 ...,platinum jubilee: 70 years of the queen in 70 ...

In [14]:
# REMOVE STOPWORDS
en_stopwords = stopwords.words('english')
titles['no_stopwords'] = titles['lowercase'].apply(lambda x: ' '.join([word for word in x.split() if word not in en_stopwords]))

In [19]:
# REMOVE PUNCTUAITONS
titles['no_stopwords_no_punct'] = titles.apply(lambda x: re.sub(r"[^\w\s]", "", x['no_stopwords']), axis=1)

In [21]:
# TOKENIZATION
titles['tokens_raw'] = titles.apply(lambda x: word_tokenize(x['title']), axis=1)
titles['tokens_clean'] = titles.apply(lambda x: word_tokenize(x['no_stopwords_no_punct']), axis=1)

In [23]:
# LEMMATIZATION
lemmatizer = WordNetLemmatizer()
titles['tokens_clean_lemmatized'] = titles['tokens_clean'].apply(lambda tokens: [lemmatizer.lemmatize(token) for token in tokens])

In [25]:
titles.head()

,title,lowercase,no_stopwords,no_stopwords_no_punct,tokens_raw,tokens_clean,tokens_clean_lemmatized
0,Can I refuse to work?,can i refuse to work?,refuse work?,refuse work,"[Can, I, refuse, to, work, ?]","[refuse, work]","[refuse, work]"
1,'Liz Truss the Brief?' World reacts to UK poli...,'liz truss the brief?' world reacts to uk poli...,'liz truss brief?' world reacts uk political t...,liz truss brief world reacts uk political turmoil,"['Liz, Truss, the, Brief, ?, ', World, reacts,...","[liz, truss, brief, world, reacts, uk, politic...","[liz, truss, brief, world, reacts, uk, politic..."
2,Rationing energy is nothing new for off-grid c...,rationing energy is nothing new for off-grid c...,rationing energy nothing new off-grid community,rationing energy nothing new offgrid community,"[Rationing, energy, is, nothing, new, for, off...","[rationing, energy, nothing, new, offgrid, com...","[rationing, energy, nothing, new, offgrid, com..."
3,The hunt for superyachts of sanctioned Russian...,the hunt for superyachts of sanctioned russian...,hunt superyachts sanctioned russian oligarchs,hunt superyachts sanctioned russian oligarchs,"[The, hunt, for, superyachts, of, sanctioned, ...","[hunt, superyachts, sanctioned, russian, oliga...","[hunt, superyachts, sanctioned, russian, oliga..."
4,Platinum Jubilee: 70 years of the Queen in 70 ...,platinum jubilee: 70 years of the queen in 70 ...,platinum jubilee: 70 years queen 70 seconds,platinum jubilee 70 years queen 70 seconds,"[Platinum, Jubilee, :, 70, years, of, the, Que...","[platinum, jubilee, 70, years, queen, 70, seco...","[platinum, jubilee, 70, year, queen, 70, second]"

In [26]:
tokens_raw_list = sum(titles['tokens_raw'], [])
tokens_clean_list = sum(titles['tokens_clean_lemmatized'], [])

In [29]:
# print(tokens_clean_list)

### POS Tagging

In [30]:
nlp = spacy.load('en_core_web_sm')

In [37]:
# POS TAGGING ON RAW TEXT
spacy_doc = nlp(' '.join(tokens_raw_list))

In [38]:
pos_df = pd.DataFrame(columns=['tokens', 'pos_tag'])

In [39]:
for token in spacy_doc:
    pos_df = pd.concat([pos_df, pd.DataFrame.from_records([{'tokens': token.text, 'pos_tag': token.pos_}])], ignore_index=True)

In [40]:
pos_df.head(20)

       tokens pos_tag
0         Can     AUX
1           I    PRON
2      refuse    VERB
3          to    PART
4        work    VERB
5           ?   PUNCT
6           '   PUNCT
7         Liz   PROPN
8       Truss   PROPN
9         the     DET
10      Brief   PROPN
11          ?   PUNCT
12          '   PUNCT
13      World    NOUN
14     reacts    NOUN
15         to     ADP
16         UK   PROPN
17  political     ADJ
18    turmoil    NOUN
19  Rationing    VERB

In [41]:
pos_df_counts = pos_df.groupby(['tokens', 'pos_tag']).size().reset_index(name='counts').sort_values(by='counts', ascending=False)

In [43]:
pos_df_counts.head(10)

     tokens pos_tag  counts
95        :   PUNCT     543
8         '   PUNCT     300
2897     in     ADP     187
4082     to    PART     175
3268     of     ADP     172
22        -   PUNCT     166
4043    the     DET     163
1856    and   CCONJ     147
15       's    PART     143
97        ?   PUNCT     130

In [44]:
nouns = pos_df_counts[pos_df_counts['pos_tag'] == 'NOUN'][:10]
nouns

      tokens pos_tag  counts
4267     war    NOUN      35
3552  record    NOUN      15
4356    year    NOUN      14
4316     win    NOUN      14
3416  police    NOUN      14
3061  living    NOUN      13
4009     tax    NOUN      13
3368  people    NOUN      12
2326     day    NOUN      12
4357   years    NOUN      11

In [45]:
verbs = pos_df_counts[pos_df_counts['pos_tag'] == 'NOUN'][:10]
verbs

      tokens pos_tag  counts
4267     war    NOUN      35
3552  record    NOUN      15
4356    year    NOUN      14
4316     win    NOUN      14
3416  police    NOUN      14
3061  living    NOUN      13
4009     tax    NOUN      13
3368  people    NOUN      12
2326     day    NOUN      12
4357   years    NOUN      11

In [46]:
adjectives = pos_df_counts[pos_df_counts['pos_tag'] == 'ADJ'][:10]
adjectives

       tokens pos_tag  counts
3244      new     ADJ      28
1400  Russian     ADJ      21
2606    final     ADJ      16
19          -     ADJ      14
2625    first     ADJ      12
3199     more     ADJ      10
2835     high     ADJ       9
1994      big     ADJ       9
3000     last     ADJ       8
3304    other     ADJ       8

In [47]:
# POS TAGGING ON CLEAN TEXT
spacy_doc_clean = nlp(' '.join(tokens_clean_list))

In [48]:
pos_df_clean = pd.DataFrame(columns=['tokens', 'pos_tag'])
for token in spacy_doc_clean:
    pos_df_clean = pd.concat([pos_df_clean, pd.DataFrame.from_records([{'tokens': token.text, 'pos_tag': token.pos_}])], ignore_index=True)

In [50]:
pos_df_clean.head(15)

       tokens pos_tag
0      refuse     AUX
1        work    NOUN
2         liz   PROPN
3       truss     ADJ
4       brief     ADJ
5       world    NOUN
6      reacts    VERB
7          uk   PROPN
8   political     ADJ
9     turmoil    NOUN
10  rationing    VERB
11     energy    NOUN
12    nothing    PRON
13        new     ADJ
14    offgrid     ADJ

In [53]:
pos_df_clean_counts = pos_df_clean.groupby(['tokens', 'pos_tag']).size().reset_index(name='counts').sort_values(by='counts', ascending=False)
pos_df_clean_counts.head(10)

       tokens pos_tag  counts
30       2022     NUM      47
1162  england   PROPN      45
870       cup   PROPN      39
3056      say    VERB      37
3707       uk   PROPN      37
3840      war    NOUN      34
2386      new     ADJ      31
3948    world    NOUN      30
3949    world   PROPN      26
3710  ukraine   PROPN      23

In [54]:
nouns_clean = pos_df_clean_counts[pos_df_clean_counts['pos_tag'] == 'NOUN'][:10]
nouns_clean

      tokens pos_tag  counts
3840     war    NOUN      34
3948   world    NOUN      30
2136     man    NOUN      22
907      day    NOUN      21
3973    year    NOUN      20
1158  energy    NOUN      17
2847  record    NOUN      17
2657  police    NOUN      16
3870    week    NOUN      16
3935   woman    NOUN      16

### Named Entity Recognition (NER)

In [56]:
ner_df = pd.DataFrame(columns=['token', 'ner_tag'])
for token in spacy_doc.ents:
    if pd.isna(token.label_) is False:
        ner_df = pd.concat([ner_df, pd.DataFrame.from_records([{'token': token.text, 'ner_tag': token.label_}])], ignore_index=True)

In [59]:
ner_df.head(20)

                                  token   ner_tag
0                             Liz Truss    PERSON
1                                    UK       GPE
2                             Rationing   PRODUCT
3                           superyachts  CARDINAL
4                               Russian      NORP
5                              70 years      DATE
6                            70 seconds      TIME
7                              Red Bull       ORG
8                          Formula 1 's   PRODUCT
9   World Triathlon Championship Series     EVENT
10                          Flora Duffy    PERSON
11                 Georgia Taylor-Brown    PERSON
12                           Terry Hall    PERSON
13                          Post Office       ORG
14                              Fujitsu       ORG
15                              Horizon       ORG
16                                   UK       GPE
17                                  Six  CARDINAL
18                             Scotland       GPE
19                                  '99      DATE

In [61]:
ner_df_counts = ner_df.groupby(['token', 'ner_tag']).size().reset_index(name='counts').sort_values(by='counts', ascending=False)
ner_df_counts.head(10)

               token      ner_tag  counts
965          Ukraine          GPE      47
955               UK          GPE      36
329          England          GPE      32
819          Russian         NORP      20
957               US          GPE      19
1031  World Cup 2022        EVENT      18
918       The Papers  WORK_OF_ART      13
1058           first      ORDINAL      13
378           France          GPE      12
226            China          GPE      11